@import url("https://fonts.googleapis.com/css?family=Orbitron");


body{
  background-color: black;
  width:100%;
  height:100%;
  font-family: 'Orbitron';
}

#weather {
  color:lime;
  list-style: none;
  display:flex;
  flex-direction: row;
  padding:0%;
}
#weather li{
  color:lime;
  margin-right: 1%;
}

.loading{
  color:lime;
}

.ClockBar{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.clock{
  color:lime;
  font-size: 3em;
}

.bar{
  width: 100%;
  height:5vh;
  background-color: grey;
}

.progress{
  width:1%;
  height:100%;
  background-color:lime;
}


