@import url("https://fonts.googleapis.com/css?family=Orbitron");


body{
  width:100%;
  height:100%;
  margin:0;
  padding:0;

  background-color: black;
  color:lime;
  
  font-family: 'Orbitron';
}

ul{
  margin:0;
}

#weather {
  width:fit-content;
  padding:0%;

  list-style: none;

  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  
 
  border:solid;
  border-color: lime;
  border-width: 1px;
  border-radius: .25em;
  
  color:lime;
}
#weather li{
  width:fit-content;
  padding:0 10px;

  color:lime;
  
  border-left: solid;
  border-right: solid;
  border-color: lime;
  border-width: 1px;
}

.loading{
  margin:0;

  color:lime;
}

.clock-bar{
  margin-top: 5%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.clock{
  color:lime;

  font-size: 3em;
}

.bar{
  width: 99.9%;
  height:5vh;

  border:solid;
  border-color: lime;
  border-width: 1px;
  border-radius: .25em;

  background-color: grey;
}

.progress{
  width:1%;
  height:100%;

  border:hidden;
  
  border-color: lime;
  border-radius: .15em;

  background-color:lime;
}

.empty-list{
  margin-top: 5%;

  display:flex;
  flex-direction: column;
  align-items: center;
}

.empty-list button{
  border: solid;
  border-width: 1px;
  border-color: red;
  border-radius: 5%;

  background-color: black;
  color:lime;

  font-size: 1em;
  font-family: 'Orbitron';
}

.empty-list input{
  padding:1em;

  font-family: 'Orbitron';
}

.list{
  margin-top: 5%;

  display:flex;
  flex-direction: column;
  align-items: center;
  
  border:solid;
  border-color: lime;
  border-radius: 1em;
}

.list ul{
  width:80%;
  padding:0;

  list-style: none;
}

.list li{
  margin:2.5% auto;
  padding: 2.5% 5%;

  display:flex;
  flex-direction: row;
  justify-content: space-between;

  border: solid;
  border-color: lime;
  border-width: 1px;
  border-radius: .25em;

  font-size: 1.5em;
}

.list li:hover{
  border-width: 2px;  
}

.list button{
  height: 100%;

  border: solid;
  border-width: 1px;
  border-color: red;
  border-radius: .25em;

  background-color: black;
  color:lime;

  font-size: 1.25em;
  font-family: 'Orbitron';
}

.list button:hover{
  background-color: maroon;
}

.input-block{
  height: 2.5em;
  margin-bottom: 2.5%;
}

.input-block button{
  height:fit-content;
  padding: 10px 10px;

  border: solid;
  border-width: 1px;
  border-color: red;
  border-radius: .25em;
  border-left: hidden;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;

  background-color: black;
  color:lime;

  font-size: 1em;
  font-family: 'Orbitron';
}

.input-block input{
  height: 100%;
  /* padding:10px; */

  border: solid;
  border-color: lime;
  border-width: 1px;

  background-color: black;
  color: lime;

  font-family: 'Orbitron';
}


