@import url("https://fonts.googleapis.com/css?family=Orbitron");


body{
  background-color: black;
  color:lime;
  width:100%;
  height:100%;
  font-family: 'Orbitron';
  margin:0;
  padding:0;
}

ul{
  margin:0;
}

#weather {
  color:lime;
  list-style: none;
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width:fit-content;
  padding:0%;
  border:solid;
  border-color: lime;
  border-width: 1px;
  border-radius: .25em;
  
}
#weather li{
  color:lime;
  width:fit-content;
  border-left: solid;
  border-right: solid;
  border-color: lime;
  border-width: 1px;
  padding:0 10px;
}

.loading{
  margin:0;
  color:lime;
}

.clock-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5%;
}

.clock{
  color:lime;
  font-size: 3em;
}

.bar{
  width: 99.9%;
  height:5vh;
  border:solid;
  border-color: lime;
  border-width: 1px;
  background-color: grey;
}

.progress{
  width:1%;
  height:100%;
  background-color:lime;
}

.empty-list{
  margin-top: 5%;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.empty-list button{
  border: solid;
  border-width: 1px;
  border-color: red;
  border-radius: 5%;
  background-color: black;
  color:lime;
  font-size: 1em;
  font-family: 'Orbitron';
}

.empty-list input{
  padding:1em;
  font-family: 'Orbitron';
}

.list{
  margin-top: 5%;
  display:flex;
  flex-direction: column;
  align-items: center;
  
  border:solid;
  border-color: lime;
  border-radius: 1em;
}

.list ul{
  width:80%;
  list-style: none;
  padding:0;
}

.list li{
  border: solid;
  border-color: lime;
  border-width: 1px;
  border-radius: .25em;

  display:flex;
  flex-direction: row;
  justify-content: space-between;

  margin:2.5% auto;
  padding: 2.5% 5%;
  font-size: 1.5em;
}

.list li:hover{
  border-width: 2px;  
}

.list button{
  height: 100%;
  padding:auto 300px;

  border: solid;
  border-width: 1px;
  border-color: red;
  border-radius: .25em;

  background-color: black;
  color:lime;
  font-size: 1em;
  font-family: 'Orbitron';
}

.list button:hover{
  background-color: maroon;
}

.input-block{
  height: 2.5em;
  margin-bottom: 2.5%;
}

.input-block button{
  height:fit-content;
  padding: 10px 10px;
  
  border: solid;
  border-width: 1px;
  border-color: red;
  border-radius: 5%;
  background-color: black;
  color:lime;
  font-size: 1em;
  font-family: 'Orbitron';
}

.input-block input{
  /* height: 100%; */
  padding:10px;
  background-color: black;
  color: lime;
  border: solid;
  border-color: lime;
  border-width: 1px;
  font-family: 'Orbitron';
}


